* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fbf4f4;
}

h1 {
  margin-top: 22px 0;
}

nav {
  display: flex;
  gap: 22px;
  align-items: center;
}

a {
  color: #f24d0d
}

a,
button {
  font-weight: bold;
  transform: filter 0.2s;
}

button:hover,
a:hover {
  filter: brightness(0.8);
}

.cards {
  display: flex;
  gap: 16px;
  margin: 18px;
}

.cards a{
  width: 100px;
  height: 100px;
  background-color: #d7eff9;
  color: #0095e5;

  display: flex;
  justify-content: center;
  align-items: center;
}